:root {
    --background-color: black;
    --text-color: white;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
}

ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

div {
    /* for diagnostic purposes */
    border: 1px solid red;
    padding: 5px;
    width: 100%;
}

div .column1 {
    background-image: url("./images/venrick-azcueta-Ngu3tsqmcRg-unsplash.jpg");
    background-color: var(--background-color);
    flex: 1 1 0;
}

div .column2 {
    background-color: var(--background-color);
    flex: 3 3 auto;
}

img {
    max-width: 50%;
    height: auto;
}

form h2 {
    text-align: center;
}