:root {
    --background-color: black;
    --text-color: white;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
}

div {
    /* for diagnostic purposes */
    border: 1px solid red;
    padding: 5px;
}

div .column1 {
    background-image: url("./images/venrick-azcueta-Ngu3tsqmcRg-unsplash.jpg");
    background-color: var(--background-color);
    flex: 1 1 0;
}

div .column2 {
    background-color: var(--background-color);
}

img {
    max-width: 50%;
    height: auto;
}